<div class=" col-sm-12 col-md-12 twoTopContent ">
    <div class="middleContentTop marginBottom ">
        新增Article
    </div>
    <div class="row marginBottom">
        <div class="col-md-3 vertical">标题名称</div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="headline">
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-3 vertical">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</div>
        <div class="col-md-2">
            <select class="form-control" ng-model="typeNum" ng-options="x.typeNum as x.typeName for x in redactTypes">
                <option value=''>全部</option>
            </select>
        </div>
        <div class="col-md-2" ng-if="typeNum == 3">
            <select class="form-control" ng-model="industriesNum" ng-options="x.industriesNum as x.industriesName for x in industries ">
                <option value=''>请选择</option>
            </select>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-3 vertical">说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明</div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="explain ">
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-3 vertical">跳转链接</div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="links">
        </div>
    </div>
    <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="row marginBottom">
            <div class="col-md-3 vertical">配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图</div>
            <div class="col-md-3">
                <a href="javascript:;" class="file"><!--a标签用来改默认样式-->
                    <input type="file" nv-file-select="" uploader="uploader" multiple/>选择文件
                </a>
                <p>配图预览</p>
                <img id="img-preview" ng-src="{{responseUrl}}">
            </div>
        </div>
        <div class="row marginBottom">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">图片名</th>
                        <th ng-show="uploader.isHTML5">图片大小</th>
                        <th ng-show="uploader.isHTML5">进度</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <button class="btn btn-success" ng-click="immediately(2)">立即上线</button>
            <button class="btn btn-success" ng-click="immediately(1)">存为草稿</button>
            <button class="btn btn-default cancel" ng-click="canceled()">取消</button>
        </div>
    </div>
</div>