html {
  font-size: 625%;
}
body {
  background-color: #f5f5f5;
}
@media screen and (max-width: 767px) {
  body {
    background-color: #232a3a;
  }
}
header {
  overflow: hidden;
}
header .headLeft {
  float: left;
  padding: .1rem;
  width: 250px;
  line-height: .32rem;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ffffff45;
  color: white;
  background-color: #232a3a;
}
header .headLeft button {
  display: none;
  float: right;
  font-size: 20px;
  padding: 0 .07rem;
  background-color: transparent;
  border: solid 1px;
  border-radius: 3px;
}
header .headRight {
  float: left;
  width: calc(100% - 250px);
  background-color: white;
  overflow: hidden;
}
header .headRight .li {
  float: right;
  padding: .15rem 0;
}
header .headRight .verticalLine {
  margin: 0 .15rem;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  header .headLeft {
    float: left;
    width: 100%;
  }
  header .headLeft button {
    display: inline-block;
  }
  header .headRight {
    float: left;
    width: 100%;
  }
}
main {
  overflow: hidden;
  min-height: 100vh;
}
main .mainLeft {
  float: left;
  width: 250px;
  color: white;
  background-color: #232a3a;
}
main .mainLeft .leftList {
  padding: .1rem 0 .1rem 15%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
main .mainLeft .leftList .pencil {
  margin-right: .2rem;
}
main .mainLeft .leftList .left {
  float: right;
  padding-right: 20%;
}
main .mainLeft ul {
  display: none;
}
main .mainLeft ul li {
  text-align: center;
  padding: .1rem 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
main .mainRight {
  float: left;
  padding: .3rem .15rem;
  width: calc(100% - 250px);
}
main .mainRight h1 {
  padding: .3rem .2rem;
  background-color: #f5f5f5;
}
main .mainRight .clear,
main .mainRight .search {
  float: right;
  margin-right: .1rem;
}
main .mainRight .topContent {
  overflow: hidden;
  padding: .15rem;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: white;
}
main .mainRight .topContent .marginBottom {
  margin-bottom: .2rem;
}
main .mainRight .topContent .cancel {
  float: right;
}
main .mainRight .topContent .vertical {
  text-align: center;
  padding: 0;
  line-height: 2.428571;
}
main .mainRight .middleContent {
  padding: 0 .15rem;
  margin-top: .2rem;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: white;
}
main .mainRight .middleContent .table {
  border: solid 1px #ddd;
  margin-top: .15rem;
}
main .mainRight .middleContent th {
  text-align: center;
}
main .mainRight .middleContent td {
  text-align: -webkit-center;
}
main .mainRight .middleContent .tdMargin {
  padding: 0 .1rem;
}
main .mainRight .middleContentTop {
  margin: 0 -0.15rem;
  padding: .1rem .15rem;
  background-color: whitesmoke;
}
main .mainRight .middleContentTop button {
  padding: 0 .02rem;
}
@media screen and (max-width: 992px) {
  main .mainRight .topContent .vertical {
    text-align: left;
    padding-left: .2rem;
  }
}
@media screen and (min-width: 768px) {
  main .mainLeft {
    padding-bottom: 3000px;
    overflow: visible!important;
    margin-bottom: -3000px;
  }
}
@media screen and (max-width: 767px) {
  main .mainLeft {
    float: left;
    width: 100%;
    display: none;
  }
  main .mainRight {
    padding: 0;
    float: left;
    width: 100%;
  }
  main .mainRight h1 {
    padding: .2rem;
    background-color: #f5f5f5;
  }
}
