.back {
  font-family: "华文细黑";
  width: 100%;
  min-height: 100vh;
  background: url("../picture/3.jpeg");
  background-size: 100%;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dcdcdc42;
  text-align: center;
  padding: 10px 30px;
}
.top {
  font-size: 25px;
  color: #00bcd459;
}
.inside {
  background-color: #ffffff82;
  margin-top: 20px;
  padding: 3px;
  width: 250px;
}
.inside img {
  max-width: 20px;
  vertical-align: middle;
}
.inside input {
  line-height: 20px;
  vertical-align: middle;
  font-size: 18px;
  color: #31221d;
  border: none;
  outline: none;
  border-left: 1px solid #cec8c8;
  background-color: #f5f0f00d;
  margin-left: 10px;
  width: 85%;
}
.inside input::-webkit-input-placeholder {
  color: #dedede;
}
.verification {
  height: 30px;
  margin-top: 10px;
  text-align: left;
  color: #ff0000cc;
  font-size: 12px;

}
.log {
  width: 100%;
  padding: 6px 12px;
  line-height: 33px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #455f6b;
  color: #03A9F4;
  cursor: pointer;
}
