
*{
    padding:0;
    margin:0;
}
html{font-size: 625%;}
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    max-width: 6.4rem;
    background-color: #29bde0;
}
.head{

    line-height: .8rem;
    text-align: center;
    font-size: .3rem;
}

.list{
    float: left;
    margin-left:.1rem;
}
.list img{width:.3rem;}
.close1{
    float: right;
    margin-right:.1rem;
}
.close1 img{width:.3rem;}
main{
    margin: 0 auto;
    max-width:6.4rem;
    padding-bottom: .8rem;
}
.container{
    max-width: 6.4rem;
    background-color: #29bde0;
}
.top{
    font-size: .3rem;
    line-height: .8rem;
    background-color: #b9e9f5;
    padding-top: .8rem;
    padding-left: .2rem;
    color:#464646;
}
.music{
    position: relative;
    float: right;
    margin-right: .1rem;
}
.music img{width:.3rem;}
audio{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -.33rem;
    opacity: 0;
    width:.64rem;
}
.triangle{
    width: 0;
    height: 0;
    border-left: solid transparent 7px;
    border-right: solid transparent 7px;
    border-top:  #b9e9f5 solid 13px;
}
.middle{
    height: .9rem;
    margin-left: .4rem;
    font-size: .2rem;
    color: rgba(225,225,225,0.5);
}

.card{
    width:64%;
    margin:.2rem auto;
    border: white solid 5px;
    background-color: #f5c97b;
}
.farmer{
    text-align: center;
    line-height:1rem;
    font-size: .3rem;
}
.number{
    text-align: center;
    line-height:.26rem;
    font-size: .22rem;
    background: rgba(131,176,154,.5);
}
.box{overflow: hidden;
}
.col-xs-12{text-align: center;
}
.sprite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin: 0 auto;

}
.main:hover .sprite { opacity: 1;  opacity:0;}
.knife{
    display: inline-block;
    height: 0;
    padding-bottom: .3rem;
    width: .312rem;
    background: url("../picture/img.png") 0 0;
}

.glass{
    display: inline-block;
    height: 0;
    padding-bottom: .3rem;
    width: .312rem;
    background:url("../picture/img.png") -68px 0;
}
.turn{
    display: inline-block;
    height: 0;
    padding-bottom: .3rem;
    width: .312rem;
    background: url("../picture/img.png") -34px 0;
}
.help {
    display: inline-block;
    height: 0;
    padding-bottom: .3rem;
    width: .312rem;
    background:url("../picture/img.png") -104px 0;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 6.4rem;
    padding:.2rem;
    background-color: #29bde0;
}
.foot{
    text-align: center;
    margin:0 auto;
    line-height:.6rem;
    width:70%;
    background-color:#fbb435;
    color:white;
    font-size: .36rem;
}
a:hover{
    text-decoration:none;
}