
*{
    padding:0;
    margin:0;
}
html{font-size: 625%;}
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    max-width: 6.4rem;
    background-color: #29bde0;
}
.head{

    line-height: .8rem;
    text-align: center;
    font-size: .3rem;
}

.list{
    float: left;
    margin-left:.1rem;
}
.list img{width:.3rem;}
.close1{
    float: right;
    margin-right:.1rem;
}
.close1 img{width:.3rem;}
main{
    margin: 0 auto;
    max-width:6.4rem;
    padding-bottom: 1rem;
    background-color: #29bde0;
}
.container{
    max-width: 6.4rem;
    background-color: #29bde0;
}
.top{
    font-size: .3rem;
    line-height: .8rem;
    background-color: #b9e9f5;
    padding-top: .8rem;
    padding-left: .2rem;
    color:#464646;
}
.music{
    position: relative;
    float: right;
    margin-right: .3rem;
}
.music img{width:.3rem;}
audio{
    position: absolute;
    margin: auto;
    top: .1rem;
    bottom: 0;
    right: -.01rem;
    opacity: 0;
    width:1.8rem;
    transform:rotate(180deg);
}
.triangle{
    width: 0;
    height: 0;
    border-left: solid transparent 7px;
    border-right: solid transparent 7px;
    border-top:  #b9e9f5 solid 13px;
}
.middle{
    height: .9rem;
    margin-left: .4rem;
    font-size: .2rem;
    color: rgba(225,225,225,0.5);
}

.card{
    width:64%;
    margin:.2rem auto;
    border: white solid 5px;
    background-color: #f5c97b;
}
.farmer{
    text-align: center;
    line-height:1rem;
    font-size: .3rem;
}
.number{
    text-align: center;
    line-height:.26rem;
    font-size: .22rem;
    background: rgba(131,176,154,.5);
}
.box{overflow: hidden;
}
.col-xs-12{text-align: center;
}
.sprite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;

}
.main:hover .sprite { opacity: 1;  opacity:0;}
.knife{
    display: inline-block;
    height:.3rem;
    width: .312rem;
    background: url("../picture/img.png") 0 0;
    background-size: 1.34rem;
}

.glass{
    display: inline-block;
    height:.3rem;
    width: .312rem;
    background:url("../picture/img.png") -.68rem 0;
    background-size: 1.34rem;
}
.turn{
    display: inline-block;
    height: .3rem;
    width: .312rem;
    background: url("../picture/img.png") -.34rem 0;
    background-size: 1.34rem;
}
.help {
    display: inline-block;
    height:.3rem;
    width: .3rem;
    background:url("../picture/img.png") -1.04rem 0;
    background-size: 1.34rem;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 6.4rem;
    padding:.2rem;
    background-color: #29bde0;
}
.foot{
    text-align: center;
    margin:0 auto;
    line-height:.6rem;
    width:70%;
    background-color:#fbb435;
    color:white;
    font-size: .36rem;
}
a:hover{
    text-decoration:none;
}
@media screen and (min-width: 320px) and (max-width: 375px){
    html{font-size: 300%;}
    .sprite{width:90%;}
    audio{
        position: absolute;
        margin: auto;
        top: .1rem;
        bottom: 0;
        right: -.15rem;
        opacity: 0;
        width:1.8rem;
        transform:rotate(180deg);
    }

}
@media screen and (min-width: 376px) and (max-width: 414px){
    html{font-size: 380%;}
    .sprite{width:85%;}
    audio{
        position: absolute;
        margin: auto;
        top: .1rem;
        bottom: 0;
        right: -.15rem;
        opacity: 0;
        width:1.8rem;
        transform:rotate(180deg);
    }

}