html {
  font-size: 625%;
  background-color: #f0f0f0;
}
body {
  padding-top: .8rem;
  padding-bottom: 1rem;
  max-width: 6.4rem;
  margin: 0 auto;
  background-color: #f0f0f0;
}
.navbar-fixed-top {
  margin: 0 auto;
  max-width: 6.4rem;
  text-align: center;
  font-size: .34rem;
  background-color: #29bde0;
  color: white;
}
.navbar-fixed-top .huose {
  float: left;
  margin: .1rem;
}
.navbar-fixed-top .huose img {
  max-width: .5rem;
}
.navbar-fixed-top .i {
  float: right;
  margin: .1rem;
}
.navbar-fixed-top .i img {
  max-width: .4rem;
}
.navbar-fixed-top .gain {
  display: inline-block;
  line-height: .8rem;
}
main .vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1.5rem 0;
  border-right: solid 1px #cecece;
}
main .vertical .vertical_words {
  width: .34rem;
  font-size: .34rem;
  line-height: .4rem;
}
main .setting {
  color: #a1a1a1;
  background-color: #fbfbfb;
  text-align: center;
  line-height: .81rem;
  font-size: 0.26rem;
}
main .setting .orange {
  color: #ee9f1b;
  font-size: .1rem;
  vertical-align: .05rem;
}
main .setting .blue {
  color: #29bde0;
  font-size: .1rem;
  vertical-align: .05rem;
}
main .set {
  text-align: center;
  line-height: .54rem;
  background-color: #fbfbfb;
  color: #29bde0;
  font-size: .28rem;
  border-top: solid 1px #cecece;
}
main .col-padding {
  background-color: white;
  padding-bottom: .3rem;
  margin-top: .1rem;
}
main .col-padding .write_in {
  font-size: .28rem;
  line-height: .8rem;
  border-bottom: solid 1px #cecece;
  width: 100%;
}
main .col-padding .write_in::-webkit-input-placeholder {
  color: #f0f0f0;
}
main .amount {
  height: 2rem;
  font-size: .28rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding-top: .2rem;
  padding-left: .15rem;
  background-color: white;
}
main .amount .amount_input {
  text-align: center;
  width: .4rem;
  background-color: #f4f5f5;
  font-size: .2rem;
  border-radius: 5px;
  color: #FAB344;
}
main .amount span {
  color: #FAB344;
  font-size: .16rem;
}
main .amount .slid_range {
  text-align: center;
  padding-top: .5rem;
}
main .amount .slid_range .range_style {
  display: inline-block;
  width: 65%;
  vertical-align: sub;
}
main .amount .slid_range .range_btn {
  line-height: .23rem;
  width: .25rem;
  border-radius: 3px;
  background-color: white;
  border: solid 1px #c9c5c5;
  text-align: center;
}
main .bottom_btn {
  background-color: #fab344;
  width: 100%;
  font-size: .4rem;
  color: white;
  padding: .2rem 0;
  outline: none;
  text-decoration: none;
}
