
* {
    margin: 0;
}
.main{
    min-height:100vh;
    background-color:#68cdd5 ;}
.box1 {
    width:100%;
    text-align: center;
    margin:0 auto;
    padding-top:190px;
}

.box2 {
    width:100%;
    text-align:center;
    margin:0 auto;
    padding-bottom:120px;
    padding-top:100px;

}
.p1{
    font-size: 30px;
    color:white;
    padding-left: 14%;
    padding-right: 14%;
}

.box4 {
    float:left;
    padding-left:20%;
}

.box5 {
    float:right;
    padding-right:19%;
}

.box6 {

    width:100%;
    overflow: hidden;
    margin:0 auto;
}
.box7{
    font-size: 24px;
    padding-top:15px;
    color:white;
    padding-left:17.5%;
    float:left;
      }
.box8{
    padding-top:10px;
    font-size: 24px;
    color:white;
    padding-right:17%;
    float:right;}
