* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 625%;
}
body {
  background-color: #fafafa;
}
.clear {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top_head {
  line-height: .26rem;
  font-size: .12rem;
  overflow: hidden;
  padding: .1rem  0;
  color: #29b078;
}
.top_head .container .left {
  float: left;
}
.top_head .weixin {
  float: right;
  height: .26rem;
  width: .25rem;
  margin: 0 .1rem;
  background: url("../picture/sprite.png") -0.48rem -0.72rem;
  background-size: 1.8rem;
}
.top_head .xinlang {
  float: right;
  height: .26rem;
  width: .25rem;
  margin-left: .1rem;
  background: url("../picture/sprite.png") -0.87rem -0.72rem;
  background-size: 1.8rem;
}
.top_head .qq {
  float: right;
  height: .26rem;
  width: .25rem;
  background: url("../picture/sprite.png") -1.28rem -0.72rem;
  background-size: 1.8rem;
}
header {
  font-size: .12rem;
  background-color: #29b078;
}
header .navigation {
  position: relative;
  line-height: .8rem;
}
header .navigation img {
  max-width: 15%;
  float: left;
  margin: 1% 0;
}
header .navigation .navigation_collapse {
  position: relative;
}
header .navigation .collapse_button {
  position: absolute;
  right: 0;
  width: 5%;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  margin-top: 2%;
  padding: 1% 0;
}
header .navigation .collapse_button .in_line {
  border-top: solid white 2px;
}
header .navigation .collapse_list {
  text-align: center;
}
header .navigation .collapse_list li {
  float: right;
  color: white;
  padding: 0 .1rem;
  font-size: .18rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}
header .navigation .collapse_list li a {
  font-size: 0.16rem;
  color: white;
}
header .navigation .collapse_list li:hover {
  border-bottom: solid 2px #ffffff;
}
header .navigation .collapse_list .right {
  margin-right: -0.1rem;
}
@media screen and (min-width: 768px) {
  header .navigation .collapse_button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .navigation .collapse_list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .navigation .navigation_collapse:hover .collapse_list {
    display: block;
    padding-top: .8rem;
  }
  header .navigation .navigation_collapse:hover .collapse_list li {
    float: none;
  }
}
main {
  margin-bottom: 1rem;
  font-size: .12rem;
  overflow: hidden;
}
footer {
  font-size: .12rem;
  background-color: #26a26f;
}
footer .foot {
  overflow: hidden;
}
footer .foot .foot_content {
  float: left;
  width: 33.33333%;
  color: white;
}
footer .foot .foot_content .left_p {
  float: left;
  margin-right: 1rem;
}
footer .foot .foot_content .right_p {
  float: left;
}
footer .foot .foot_content .line {
  border-left: white solid 2px;
  margin: .05rem;
}
footer .foot .foot_content a {
  text-decoration: none;
  padding-bottom: .05rem;
  border-bottom: rgba(225, 225, 225, 0) solid 2px;
  color: white;
}
footer .foot .foot_content a:hover {
  border-bottom: #e1e1e1 solid 2px;
}
footer .foot .foot_content p {
  line-height: .4rem;
}
footer .foot .code {
  text-align: right;
}
footer .foot .code img {
  width: .9rem;
  height: .9rem;
}
footer .foot .code p {
  font-size: .15rem;
  color: white;
}
.foot_bottom {
  font-size: .12rem;
  text-align: center;
  padding: .05rem;
  color: white;
  background-color: #26a26f;
  border-top: #32c086 solid 1px;
}
@media screen and (max-width: 790px) {
  footer .foot .foot_content .right_p {
    width: 100%;
    float: left;
  }
  footer .foot .foot_content .code {
    text-align: left;
  }
  footer .foot .foot_content {
    float: left;
    width: 100%;
    color: white;
  }
}
