


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}
body{
    background-color: #fafafa;
}
.head {
    line-height: .4rem;
    color: #29b078;
}

.navbar-default {
    line-height: .8rem;           /*导航栏高度，用于居中*/
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #29b078;
}
.navbar-default .navbar-toggle .icon-bar {
    width: 20px;
    height: 3px;
    background-color: rgba(76, 3, 3, 0.27);
}
.navbar-default .navbar-toggle{
    border: none;
    margin-top: 25px;
}
.is-collapse{padding-right: 0;}
.navbar-default .navbar-nav > li > .work {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    font-size: .18rem;
    color: white;
}
.navbar-nav{margin:0;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;                                               /*隐藏按钮背景色*/
}

.navbar-default .navbar-nav > li{
    text-align: center;
    padding-left: .2rem;
    border-bottom: rgba(225,225,225,0) solid 2px;
}
.navbar-default .navbar-nav > li:hover {
    border-bottom: rgba(225,225,225,1) solid 2px;
}

.navbar-default .navbar-nav > li > .work:hover {
    color: white;
}
main{
    font-size: .2rem;
}
a{
    color: black;
}
main .hello{
    text-align: center;
    position:fixed;
    font-size: .12rem;
    bottom: 33%;
    right: 0;
    width: .2rem;
    background-color: rgba(41,176,120,.8);
    z-index: 1;
}
.hello a{
    text-decoration: none;
    color: white;
}
.line1{
    padding: .3rem;
}
strong{
    font-size: .2rem;
}
.line1 > a{
    text-decoration: none;
    margin:.2rem;
    font-size: .2rem;
    color: #29b078;
}

.left{
    float: left;
    width:30%;                            /*布局*/
    text-align: center;
    background-color: #ffffff;
    z-index: 1;
    margin-bottom: .2rem;
}
.left-top{
    text-align: center;
    font-size: .18rem;
    padding:.15rem 0;
    border-bottom: solid #e8e8e8 1px;
}
.left-top strong{color: black;}
.right{
    width:100%;         /*布局*/
    padding:0 .5rem;
}
.content{
    margin-left: 30%;
    padding:0 .1rem;
}
.introduce{
    margin-left: 32%;                    /*布局*/
   background-color: #ffffff;
    padding-bottom: 1rem;
    margin-bottom: .2rem;
}
@media screen and (max-width: 768px) {

    .right{  float: left;  width:100%;  }        /*布局*/
    .introduce{ margin-left: 0;  }
    .left     { float: left;  width:100%;}
    .left a   { margin-left: .1rem;  }
}

.left ul{
     list-style-type:none;
    display: inline-block;
}
.left > ul > li{
    text-align: left;
    color: #ff9459;
    font-size: 30px;
}
.left a{                               /*添加链接*/
    text-decoration: none;
    font-size: .14rem;
    color: #29b078;
}
.circle{
    display: inline-block;             /*圆圈*/
    width:10px;
    height:10px;
    margin-right: .05rem;
    border-radius: 50%;
    border: solid 1px #ff9459;

}
.left a:hover{
    color: #ff9459;                    /*  hover文字链接  */
}
.left a:hover .circle{
    background-color: #fea500;         /*  hover圆圈效果   */
}
.introduce img{
    float: left;
    margin-top:-.2rem;
}
.right-top{
    padding:.2rem .6rem;
    padding-bottom: .6rem;
    margin-bottom: .2rem;
    border-bottom: solid #e8e8e8 1px;
}
p{ color: #2f2f2f;
    text-indent: 2em;
font-size: .2rem;}
.introduce > p{
    padding:0 .6rem;
    word-break: break-all;
    font-size: .14rem;
    text-indent: 2em;
    margin-bottom: .4rem;
}


footer{
    background-color: #26a26f;                       /*页脚*/
    margin-top: 2.3rem;
}
.foot a{
    text-decoration: none;
    padding-bottom: .05rem;
    border-bottom: rgba(225,225,225,0) solid 2px;
    color: white;
}
.foot a:hover{
    border-bottom: rgba(225,225,225,1) solid 2px;
}
.foot1{
    color: white;
    margin-top: .2rem ;
}

.foot .foot1 span{
    border-left: white solid 2px;
    margin: .05rem;
}
.foot img{
    width: .9rem;
    height: .9rem;
}
.foot p{
    font-size: .15rem;
    color: white;
}
.code {

    margin:.3rem 0 .2rem 0;
}
.foot3{
    text-align: center;
    padding:.05rem;
    color: white;
    border-top:#32c086 solid 1px;
}
