<div class=" col-sm-12 col-md-12 twoTopContent ">
    <div class="middleContentTop marginBottom ">
        {{newArticle}}
    </div>
    <div class="row marginBottom">
        <div class="col-md-2 vertical">标题名称 <span class="remind" ng-hide="article.title">*</span></div>
        <div class="col-md-8">
            <form name="formHead">
                <input type="text"
                       name="head"
                       class="form-control"
                       ng-model="article.title"
                       ng-blur="count=1"
                       ng-minlength="2"
                       ng-maxlength="10"
                       required>
                <span class="remind" ng-show="count && formHead.head.$invalid">请输入标题名称</span>
                <span class="remind" ng-show="formHead.head.$error.minlength">字符最短为2</span>
                <span class="remind" ng-show="formHead.head.$error.maxlength">字符最长为10</span>
            </form>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-2 vertical">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型
            <span class="remind" ng-hide="article.type != undefined">*</span>
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-blur="blur=1" ng-model="article.type">
                <option value=''>全部</option>
                <option ng-repeat="(x,y) in types" value="{{x}}" ng-selected="article.type">{{y}}</option>
            </select>
        </div>
        <div class="col-md-3" ng-show="article.type == 3">
            <select class="form-control" ng-model="article.industry" >
                <option value=''>请选择</option>
                <option ng-repeat="(x,y) in industries" value="{{x}}" ng-selected="article.industry">{{y}}</option>
            </select>
        </div>
        <div class="col-md-3" ng-show="article.type == 3 ||(blur && (article.type == undefined ))">
            <span class="remind" ng-hide="article.industry != undefined ">请选择行业</span>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-2 vertical">说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明</div>
        <div class="col-md-8">
            <div type="text/html"
                 class="myEditor"
                 ng-if="condition"
                 ng-model="CompleteModel.text"
                 meta-umeditor
                 meta-umeditor-config='config'>
            </div>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-2 vertical">跳转链接
            <span class="remind" ng-hide="article.url">*</span></div>
        <div class="col-md-8">
            <form name="formLink">
                <input type="text"
                       name="link"
                       class="form-control"
                       placeholder=""
                       ng-model="article.url"
                       ng-pattern="/^((ht|f)tps?):\/\/([\w-]+(\.[\w-]+)*\/?)+(\?([\w\-\.,@?^=%&:\/~\+#]*)+)?$/">
            </form>
        </div>
    </div>
    <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="row marginBottom">
            <div class="col-md-2 vertical">
                配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图
                <span class="remind" ng-hide="responseUrl">*</span>
            </div>
            <div class="col-md-8">
                <a href="javascript:" class="file"><!--a标签用来改默认样式-->
                    <input type="file" nv-file-select="" uploader="uploader" multiple/>选择文件
                </a>
                <p>配图预览</p>
                <img id="img-preview" ng-src="{{responseUrl}}">
            </div>
        </div>
        <div class="row marginBottom">
            <div class="col-md-8 col-md-push-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">图片名</th>
                        <th ng-show="uploader.isHTML5">图片大小</th>
                        <th ng-show="uploader.isHTML5">进度</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><span>{{ item.file.name }}</span></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button"
                                    class="btn btn-success btn-xs"
                                    ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                            <button type="button"
                                    class="btn btn-danger btn-xs"
                                    ng-click="item.remove();removeResponseUrl()">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row marginBottom">
        <div class="col-md-8 col-md-push-2">
            <button class="btn btn-success"
                    ng-click="immediately(2)"
                    ng-disabled=
                            "(article.title == undefined)
                            ||(article.type == undefined)
                            ||(article.type == 3)&&(article.industry == undefined)
                            ||(responseUrl == undefined)
                            || (article.url == undefined)">立即上线
            </button>
            <button class="btn btn-success"
                    ng-click="immediately(1)"
                    ng-disabled=
                            "(article.title == undefined)
                            ||(article.type == undefined)
                            ||(article.type == 3)&&(article.industry == undefined)
                            ||(responseUrl == undefined)
                            ||!article.url">存为草稿
            </button>
            <button class="btn btn-default cancel" ng-click="canceled()">取消</button>
        </div>
    </div>
</div>
