
body{
    background-color: rgba(122, 186, 47, 0.46);
}
main{
    width: 40%;
    margin:0 auto;
    overflow: hidden;
}
.container{
    overflow: hidden;
}
.content{
    margin-top:2.5% ;
    margin-left:2.5%;
    float:left;
    width:30%;
    padding-top: 30%;
    border-radius:5px;
    background: #9bcf5f
}
button{
    width: 95%;
    margin: 2% 2.5% 0 2.5%;
    padding: 1% 0;
    border: none;
    border-radius: 3px;
}
