.top_head {
  font-size: .12rem;
  overflow: hidden;
  padding: .1rem 1rem;
  color: #29b078;
}
.top_head .weixin {
  float: right;
  height: .24rem;
  width: .25rem;
  margin-left: .1rem;
  background: url("../picture/sprite.png") -0.48rem -0.73rem;
}
.top_head .xinlang {
  float: right;
  height: .24rem;
  width: 25px;
  margin-left: .1rem;
  background: url("../picture/sprite.png") -0.87rem -0.73rem;
}
.top_head .qq {
  float: right;
  height: .24rem;
  width: .25rem;
  background: url("../picture/sprite.png") -1.28rem -0.73rem;
}
header {
  padding: 0 1rem;
  font-size: .12rem;
  background-color: #29b078;
}
header .navigation {
  position: relative;
  line-height: .8rem;
}
header .navigation img {
  float: left;
  margin-top: .2rem;
}
header .navigation .navigation_collapse {
  position: relative;
}
header .navigation .collapse_button {
  position: absolute;
  right: 0;
  width: .3rem;
  border-top: solid white 4px;
  border-bottom: solid white 4px;
  margin-top: .2rem;
  padding: .1rem 0;
}
header .navigation .collapse_button .in_line {
  border-top: solid white 4px;
}
header .navigation .collapse_list {
  text-align: center;
}
header .navigation .collapse_list li {
  float: right;
  color: white;
  font-size: .18rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}
header .navigation .collapse_list li a {
  font-size: 0.25rem;
  color: white;
  margin-left: .2rem;
}
header .navigation .collapse_list li:hover {
  border-bottom: solid 2px #ffffff;
}
@media screen and (min-width: 768px) {
  header .navigation .collapse_button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .navigation .collapse_list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .navigation .navigation_collapse:hover .collapse_list {
    display: block;
    padding-top: .8rem;
  }
  header .navigation .navigation_collapse:hover .collapse_list li {
    float: none;
  }
}
