

main{
 padding: 0 1rem;
  font-size: .12rem;
  .top_line1{
    padding: .3rem;
    border-bottom: #d0d6d9 solid 1px; /*首页 职业样式 线条样式*/
  }
  strong{
    font-family:"Microsoft YaHeiHei";
    font-size: .16rem;
  }
  .top_line1 > span{color: #29b078;}
  .top_line2{
    padding:.2rem 0;
    border-bottom: #edf1f2 solid 1px; /*线条样式*/
  }
  .top_line2 a{
    text-decoration: none;
    color: #333333;
  }
  .word1{
    color: #999999;
  }
  .word2{
    display: inline-block;
    font-size: .14rem;
    background-color:#29b078 ;
  }
  .word3{
    margin-left: .3rem;
    display: inline-block;

  }
  .word3:hover{ background-color:#29b078 ;}
  .top_line3{
    font-size: .16rem;
    font-family: "Microsoft YaHei";
    padding: .3rem 0;
    border-bottom: #d0d6d9 solid 1px; /* 线条样式 前端开发  后端开发 。。。*/
  }
  .top_line3 a{
    text-decoration: none;               /*覆盖锚点 a 的样式*/
    color: #333333;
  }
}

