html {
  font-size: 625%;
  background-color: white;
}
body {
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 6.4rem;
  margin: 0 auto;
  background-color: #29bde0;
}
.navbar-fixed-top {
  margin: 0 auto;
  max-width: 6.4rem;
  text-align: center;
  font-size: .34rem;
  background-color: #29bde0;
  color: white;
}
.navbar-fixed-top .huose {
  float: left;
  margin: .1rem;
}
.navbar-fixed-top .huose img {
  max-width: .5rem;
}
.navbar-fixed-top .i {
  float: right;
  margin: .1rem;
}
.navbar-fixed-top .i img {
  max-width: .4rem;
}
.navbar-fixed-top .gain {
  display: inline-block;
  line-height: .8rem;
}
main {
  overflow: hidden;
}
main .card {
  float: left;
  width: 1.36rem;
  margin-left: .2rem;
  margin-top: .2rem;
  border: white solid 5px;
  background-color: #f5c97b;
}
main .farmer {
  text-align: center;
  line-height: 1rem;
  font-size: .3rem;
}
main .number {
  text-align: center;
  line-height: .26rem;
  font-size: .22rem;
  background: rgba(131, 176, 154, 0.5);
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 6.4rem;
  padding: .2rem;
  background-color: #29bde0;
}
.foot {
  line-height: .6rem;
  width: 70%;
  background-color: #fbb435;
  color: white;
  font-size: .36rem;
}
