
* {padding:0;
    margin: 0;
}
html{
    font-size: 50%;
    width :100%;
    background-color:#68cdd5 ;}
p{
    color:white;
    font-size:2.4rem;
  }
.back{
    width:3rem;
    padding-left: 1rem;
    padding-top: 1rem;

}
.head{overflow: hidden;}
.logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top:10rem;
}

.content {
    margin:0 auto;
    width:70%;
    padding-bottom:12rem;
    padding-top:11rem;
}
.content p{
    font-size: 3rem;
    text-align:center;
    color:white;
}


.men {
    text-align: center;
    float:left;
    padding-left:15%;
}

.tag {
    text-align: center;
    float:right;
    padding-right:15%;
}
.human{
    padding-bottom: 1rem;
    width:5rem;}
.grape{
    padding-bottom: 1rem;
    width:5rem;}
