* {
    box-sizing: border-box;
}

html{
    font-size: 625%;
    margin:0;

}
body { padding-top: 1.2rem;
    padding-bottom: .7rem;
}
.header{
    text-align: center;
    background-color: #5fc0cd;
    line-height: .5rem;
    padding: .1rem 0 .1rem 0;
    font-size: .3rem;
}
.btn-group{
    font-size: .1rem;
    background-color: #55a8b3;
    border-radius: .1rem;
}
.header .btn-group .boss{
    background-color: #55a8b3;
    color:white;
    border: none;
    outline: none;
    border-radius: .05rem;
    padding: .1rem;
    font-size: .2rem;
}
.header .btn-group .nurse{
    background-color: white;
    color: #5fc0cd;
    border-radius: .05rem;
    padding: .1rem;
    border: none;
    outline: none;
    font-size: .2rem;
}
.localt{
    display: inline-block;
    vertical-align: middle;
    width: .42rem; height: .44rem;
    background: url('css_sprites.png') -10px -10px;
}
.button .dropdown{margin:0;
    font-size: .2rem;
    line-height: .5rem;
    background-color: white;
    border: none;
    padding:0;
}
.dropdown-toggle {
    width:100%;
   background-color: white;
    border:0;
}
.box{
    border-bottom:#afbac0 solid 1px;
    line-height: .5rem;
}
.box .container .row .date{
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem;
    width: 24px; height: 24px;
    background: url('css_sprites.png') -72px -74px;
}
.container .row .map{
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem;
    width: 19px; height: 23px;
    background: url('css_sprites.png') -138px -10px;
}
.box .container .row .col-xs-7{
    padding-left: .5rem;
}
.box .container .row .col-xs-5 {
    text-align: right;
    color:red ;
    padding-right: .2rem;
}
.box .container .row .col-xs-5 strong{
    color: #5fc0cd ;
    margin-left: .1rem;
}
.footer{
    text-align:center;
    height:.7rem;

}
.photo{
      line-height: .7rem;
  }
.photo img{
    width:.9rem;
    padding:0.08rem;
    vertical-align: middle;}

.house{
     margin-top:.2rem;
     display: inline-block;
     width: 46px; height: 40px;
     background: url('css_sprites.png') -72px -10px;
 }
 .man{
     margin-top:.2rem;
     display: inline-block;
    width: 42px; height: 41px;
    background: url('css_sprites.png') -10px -74px;
}

@media screen and (max-width: 360px) {
    html {width: 500px} }